#slider {
  height: 100%;
  white-space: nowrap;
  //overflow-x: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#slider::-webkit-scrollbar {
  display: none;
}

#main-slider-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-card-title,
.slider-card-description {
  margin: 5px 0px 5px 10px;
}

.slider-card-title {
  font-weight: 500;
  margin-top: 25px;
}

.slider-card-description {
  opacity: 0.5;
  font-size: 13px;
}

.slider-card-image {
  cursor: pointer;
  width: 470px;
  height: 350px;
  background-color: var(--primary-color);
  border-radius: 11px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
}

.slider-icon.left,
.slider-icon.right {
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0.5;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
  cursor: pointer;
  transform: translateY(-40px);
}

.slider-icon.left {
  left: 25px;
  margin-right: 1.5rem;
}

.slider-icon.right {
  right: 25px;
  margin-left: 1.5rem;
}

.slider-icon.left:hover,
.slider-icon.right:hover {
  opacity: 1;
}

.slider-card {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 15px;
}

.slider-card-image:hover {
  opacity: 0.5;
}

@media screen and (min-width: 1120px) {
  .slider-card {
    width: 317px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }

  .slider-card-image {
    width: 100%;
    height: 200px;
  }

  .slider-icon.left,
  .slider-icon.right {
    position: relative;
    //margin: 0 1.5rem;
  }

  .slider-icon.left {
    left: 0;
  }

  .slider-icon.right {
    right: 0;
  }
}

@media screen and (max-width: 1120px) {
  #main-slider-container {
    width: min(50rem, 100%);
    margin-inline: auto;
  }

  .slider-icon.left,
  .slider-icon.right {
    transform: translateY(165px);
  }
}

@media screen and (max-width: 510px) {
  .slider-card-image {
    width: 100%;
  }
}
